html/SchemaEmp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
 xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.eswar.com" 
xmlns="http://www.eswar.com" 
elementFormDefault="qualified">

	<xs:element name="emp">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="empno" type="xs:int"/>
				<xs:element name="empname" type="xs:string"/>
				<xs:element name="empsal" type="xs:decimal" />
				<xs:element name="dept" type="xs:string" fixed="IT"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
